<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apiVersion</key>
	<string>v1</string>
	<key>host</key>
	<string>61e947967bc0550017bc61bf.mockapi.io</string>
</dict>
</plist>
